@charset "utf-8";
/* ==========================================================================
   1. CSS Reset Code
   ========================================================================== */

/* 1.1. Eric Meyers Reset
   http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
   ========================================================================== */
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p,
blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img,
ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center,
dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody,
tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure,
figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

/* Force scrollbar */
html { overflow-y: scroll; }

/* Align radios and text inputs with their label */

input[type='radio'] { vertical-align: text-bottom; }

/* Hand cursor on clickable input elements */
label,
input[type='button'],
input[type='submit'],
button {
  cursor: pointer;
}

strong {
  font-weight: bold;
  font-family: inherit;
  font-size: inherit;
}

em { font-style: italic; }

img {
  width: 100%;
  border: 0;
}

sub,
sup {
  vertical-align: baseline;
  position: relative;
  font-size: 55%;
  line-height: 0;
}

sup { top: -.7em; }
sub { bottom: -.25em; }

/* 1.2. Clear Fix
   ========================== */

.cf:before,
.cf:after {
  display: table;
  content: " ";
}

.cf:after { clear: both; }
.cf { *zoom: 1; }

/*for all*/
body {
  box-sizing: border-box;
  font-family: sans-serif;
}

a { 
  display: inline-block;
  text-decoration: none; 
}

li {
  display: inline-block;
  list-style-type: none;
}

/*for wrapper*/
.wrapper {
  max-width: 1010px;
  width: 86%; 
  margin: 0 auto;
}

/* Css Reset  */
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}

:root {
  --primary-color: #283EAA;
  --secondary-color: #3B6BE2;
  --ternary-color: #000;
  --btn-color: #49A2FB;
  --secondary-btn-color: #43A0DF;
  --font-color: #fff;
}

/* Common Classes */
.upper-case { text-transform: uppercase; }

.btn {
  background-color: var(--secondary-btn-color);
  color: var(--font-color);
}

/*=================================
  Header styling starts here
=================================*/
header {
  padding: 47px 0;
  background-color: var(--primary-color);
}

header .wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.main-heading { margin: 0 0 10px 4px; }
.main-heading a{ text-indent: -999999px; }

.main-heading img {
  width: 220px;
  float: right;
  clear: both;
  text-indent: 0;
}

nav { flex-basis: 100%; }
.navigation { float: right; }
.nav-list { margin: 0 11px; }

.navigation li a {
  color: var(--font-color);
  font-weight: 900;
  font-size: 17px;
  letter-spacing: .6px;
}

.navigation li a:hover {color: var(--btn-color); }
.search { margin: 0 5px 0 36px; }
#search { display: none; }
.search a img { width: 28px; }

/* hamburger Styling */
.hamburger {
  position: relative;
  display: none;
  z-index: 2;
  cursor: pointer;
  text-indent: -999999px;
}

.line {
  width: 50px;
  height: 3px;
  border-radius: 15%;
  margin: 7px 0;
  display: block;
  background-color: #fff;
  transition: .5s;
}

.line3 { width: 40px; }
.hamburger.active .line { background-color: #fff; }

.hamburger.active .line1 {
  width: 40px;
  transform: translateY(10px) rotate(40deg);
 }

.hamburger.active .line2 { transform: scale(0); }

.hamburger.active .line3 { transform: translateY(-10px) rotate(-40deg); }
/*=================================
  Header styling ends here
=================================*/

/*=================================
  main styling starts here
=================================*/

  /* filter styling starts here */
  .filter { padding: 50px 0; }

  .filter .wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .filter-heading {
    font-size: 34px;
    font-weight: 900;
  }

  .filter-icon { position: relative; }
  .filter-icon > a { text-indent: -999999px; }

  .filter-icon > a img {
    width: 45px;
    float: right;
    text-indent: 0;
    clear: both;
  }

  .filter-list {
    width: 190px;
    padding: 20px;
    border-radius: 10px;
    position: absolute;
    top: 132%;
    left: -50%;
    background-color: var(--btn-color);
    opacity: 0;
    transition: .5s;
    transform: translate(-28%, 20px);
    visibility: hidden;
  }

  .filter-icon:hover .filter-list{
    opacity: 1;
    transform: translate(-28%, 0);
    visibility: visible;
  }

  .filter-list::before {
    content: "";
    width: 20px;
    height: 20px;
    background-color: var(--btn-color);
    position: absolute;
    top: -10px;
    left: 50%;
    transform: translateX(-30%) rotate(45deg);
  }

  .filter-list-heading {
    margin-bottom: 17px;
    display: inline-block;
    color: var(--font-color);
    font-size: 13px;
    font-weight: 600;
  }

  .filter-btn {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .filter-btn li a {
    padding: 3px;
    border: 2px solid transparent;
    text-indent: -999999px;
    transition: .3s;
  }

  .filter-btn li a.active,
  .filter-btn li a:hover {
    border-color: var(--font-color);
  }

  .filter-btn li a img {
    width: 35px;
    float: right;
    clear: both;
    text-indent: 0px;
  }
  /* filter styling ends here */
  /* iterate styling starts here */
  .iterate {
    padding: 34px 0px 25px;
    background-color: var(--secondary-color);
  }
  .iterate-form {
    display: flex;
    justify-content: space-between;
  }

  .select {
    width: 393px;
    border-radius: 15px;
    border-bottom-right-radius: 20px;
    border-bottom-left-radius: 20px;
    position: relative;
    overflow: hidden;
  }
  
  select {
    width: 100%;
    padding: 28px 18px 18px;
    border: none;
    background-color: var(--font-color);
    font-weight: 700;
    font-size: 18px;
    appearance: none;
    cursor: pointer;
    outline: none;
    text-transform: uppercase;
  }

  .select::before {
    content: "\f078";
    width: 66px;
    height: 96%;
    border-radius: 10px;
    display: flex;
    position: absolute;
    top: 0;
    right: 0;
    background-color: #000;
    color: #fff;
    font-family: "FontAwesome";
    font-size: 20px;
    align-items: center;
    justify-content: center;
    pointer-events: none;
  }

  .explore-btn {
    padding: 24px 60px;
    border: none;
    border-radius: 17px;
    outline: none;
    background: #000;
    color: #fff;
    font-size: 17px;
    font-weight: 800;
  }
  /* iterate styling ends here */

  /* display styling starts here */

  .display { padding: 20px 0 64px; }

  .display-card {
    margin: 38px 0 43px;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    flex-wrap: wrap;
  }

  .display-card.two-card li{ flex-basis: 48.88%; }
  .display-card.two-card img{ height: 157px; }
  .display-card.four-card li{ flex-basis: 23.47%; }
  .display-card.four-card img { height: 159px; }

  .display-card li {
    margin-bottom: 17px;
    border-radius: 10px;
    flex-basis: 31.7%;
    overflow: hidden;
  }


  .display-card figure { margin-bottom: -4px;}
  .display-card img { object-fit: cover; }

  .display-content {
    padding: 33px 28px 32px 30px;
    background-color: var(--primary-color);
  }

  .display-heading {
    color: #fff;
    font-size: 23px;
    font-weight: 900;
  }

  .display-para {
    width: 93%;
    margin: 18px 0 15px;
    color: #fff;
    font-size: 14px;
    letter-spacing: 1px;
    line-height: 27px;
  }

  .learn-more {
    padding: 22.5px;
    border-radius: 10px;
    display: block;
    font-size: 17px;
    font-weight: 900;
    text-align: center;
    transition: .4s;
  }

  .learn-more:hover,
  .load-btn:hover {
    background-color: var(--font-color);
    color: var(--secondary-btn-color);
    box-shadow: 1px 1px 3px #000;
  }

  .load-btn-block { text-align: center; }

  .load-btn {
    padding: 24px 63px 18px;
    border-radius: 10px;
    font-size: 14px;
    font-weight: 900;
    letter-spacing: .5px;
    transition: .4s;
  }
  /* display styling ends here */
  /* mailing styling starts here */
  .mailing {
    padding: 47px 0 40px;
    background-color: var(--ternary-color);
  }

  .mailing .wrapper,
  .mailing-form {
    display: flex;
    align-items: center;
  }

  .mailing .wrapper { justify-content: space-between; }

  .mailing-heading {
    color: rgb(255, 255, 255);
    font-weight: 600;
    font-size: 14px;
    letter-spacing: .3px;
    text-transform: lowercase;
  }

  .input-box { position: relative; }

  #email-us {
    width: 576px;
    padding: 15px 10px;
    margin-right: 14px;
    outline: none;
    font-size: 16px;
  }
  
  .error {
    position: absolute;
    bottom: -17px;
    left: 0;
    color: red;
    font-size: 13px;
    font-weight: 600;
    letter-spacing: .5px;
  }

  .submit-btn {
    font-weight: 900;
    font-size: 16px;
    padding: 17px 45px;
    border: none;
    border-radius: 16px;
    transition: .4s;
  }

  .submit-btn:hover {
    background-color: var(--font-color);
    color: var(--secondary-btn-color);
    box-shadow: 1px 1px 5px var(--btn-color);
  }
  /* mailing styling ends here */
/*=================================
  main styling ends here
=================================*/

/*=================================
  footer styling starts here
=================================*/ 
footer { padding: 22px 0 35px; }

.footer-top,
.clients,
.footer-bottom {
  display: flex;
  align-items: center;
}

.footer-top {
  padding: 20px 0;
  margin-bottom: 25px;
  justify-content: space-between;
}

.footer-top-heading { flex-basis: 25.4%; }

.footer-top-heading a,
.clients a{ 
  text-indent: -999999px;
}

.footer-top-heading img,
.clients img{ 
  float: right;
  clear: both;
  text-indent: 0;
}

.clients li {
  width: 63px;
  margin-left: 28px;
}

.clients a { transition: .5s; }
.clients li a:hover { transform: scale(1.2); }

.clients li:nth-last-child(1) { margin-right: 20px; }
.footer-bottom { justify-content: space-between; }
.footer-nav li { margin-right: 16px; }

.footer-nav li a {
  color: #304EB1;
  font-size: 13px;
  font-weight: 900;
  transition: .4s;
}

.terms-and-condition li a,
.copyright {
  color: #4DB8E7;
  font-size: 12px;
  font-weight: 600;
  transition: .4s;
}

.footer-nav li a:hover,
.terms-and-condition li a:hover,
.copyright:hover {
  color: #000;
  text-shadow: 2px 2px 2px #4DB8E7;
}

.terms-and-condition li:nth-child(2) { margin: 0 5px 0 17px; }
.terms-and-condition li:nth-last-child(1) { margin-right: 5px; }
 /*=================================
  footer styling ends here
=================================*/ 

/* STYLING FOR CONTACT.HTML */
.contact-heading {
  margin: 54px 0 53px;
  font-size: 36px;
  font-weight: 900;
}

.contact-para {
  width: 64%;
  font-size: 20px;
  line-height: 32px;
  letter-spacing: .5px;
}

.contact-form {
  width: 66.5%;
  margin: 25px 0 49px;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.input-content { flex-basis: 50.2%; }
.text-area { flex-basis: 45.57%; }

.input-box {
  display: flex;
  align-items: center;
}

.contact-name,
.contact-company,
.contact-email,
.message {
  width: 100%;
  padding: 13px 10px;
  border: 2px solid #283EAA;
  margin-bottom: 14px;
  color: #283EAA;
  font-size: 14px;
  font-weight: 600;
  letter-spacing: 1px;
  outline: none;
  resize: none;
}

.message { height: 166px; }

.contact-name::placeholder,
.contact-company::placeholder,
.contact-email::placeholder,
.message::placeholder {
  color: #283EAA;
}

input[type="checkbox"] {
  width: 22px;
  height: 21px;
  margin-right: 10px;
  border: 2px solid #283EAA;
  outline: none;
  display: flex;
  align-items: center;
  appearance: none;
  cursor: pointer;
  justify-content: center;
}

input[type="checkbox"]::after {
  content: "\f00c";
  display: none;
  color: #283EAA;
  font-family: "FontAwesome";
}

input[type="checkbox"]:checked::after { display: block; }

.input-box label {
  color: #283EAA;
  font-size: 13px;
  font-weight: 900;
  letter-spacing: .5px;
  text-transform: lowercase;
}

.text-area .submit-btn {
  padding: 15px 50px;
  border-radius: 10px;
  background-color: #000;
  color: #fff;
  font-size: 20px;
}

.text-area .submit-btn:hover {
  background-color: #fff;
  color: #000;
}

/*MEDIA QUERY STARTS HERE*/
/*media query for 1094px starts here*/
@media only screen and (max-width: 1094px) {
  .select { width: 35%; } /* Iterate Section*/
  #email-us { width: 500px; } /* Mailing Section*/
}

/*media query for 1024px starts here*/
@media only screen and (max-width: 1024px) {
  /* mailing  Section */
  .mailing .wrapper {
    flex-direction: column;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
  }

  .mailing-heading {
    margin-bottom: 20px;
    font-size: 18px;
  }

  /* CONTACT PAGE */
  .contact-para,
  .contact-form {
    width: 100%;
  }

  .input-content .input-box { width: 100%; }  
}

/*media query for 995px starts here*/
@media only screen and (max-width: 995px) {
  /* Header Styling */
  .main-heading { margin: 0; }
  .nav-list { margin: 0 0 0 8px; }
  .main-heading img { width: 100%; }
  .navigation li a { font-size: 14px; }

  /* filter  Section */
  .filter { padding: 30px 0; }
  .filter-heading { font-size: 26px; }

  .iterate-form { 
    flex-direction: column;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    align-items: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
  }

  .filter-icon { display: none; } 
  .select::before { height: 100%; }

  .display-card li{
    flex-basis: 48.88% !important;
    -ms-flex-preferred-size: 48.88% !important;
  }

  .display-card figure { margin-bottom: -5px; }

  .select {
    width: 60%;
    margin-bottom: 20px;
  }

  /* mailing  Section */
  .mailing .wrapper {
    flex-direction: column; 
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
  }

  .mailing-heading {
    margin-bottom: 20px;
    font-size: 18px;
  }

  .mailing-form {
    width: 100%;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
  }

  .input-box { width: 70%; }

  #email-us {
    width: 100%;
    margin: 0 0 18px;
  }

  /* Footer Section */
  footer { padding: 20px 0; }

  .footer-top,
  .footer-bottom {
    padding: 0;
    margin: 10px 0;
    flex-direction: column;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
  }
  
  .footer-top-heading { margin-bottom: 20px; }
  .footer-nav { margin-bottom: 20px; }
  .footer-nav li a { font-size: 15px; }

  .terms-and-condition li a,
  .copyright {
    font-size: 14px;
  }
}