@charset "utf-8";
/* ==========================================================================
   1. CSS Reset Code
   ========================================================================== */

/* 1.1. Eric Meyers Reset
   http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
   ========================================================================== */
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p,
blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img,
ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center,
dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody,
tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure,
figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

/* Force scrollbar */
html { overflow-y: scroll; }

/* Align radios and text inputs with their label */

input[type='radio'] { vertical-align: text-bottom; }

/* Hand cursor on clickable input elements */
label,
input[type='button'],
input[type='submit'],
button {
  cursor: pointer;
}

strong {
  font-weight: bold;
  font-family: inherit;
  font-size: inherit;
}

em { font-style: italic; }

img {
  width: 100%;
  border: 0;
}

sub,
sup {
  vertical-align: baseline;
  position: relative;
  font-size: 55%;
  line-height: 0;
}

sup { top: -.7em; }
sub { bottom: -.25em; }

/* 1.2. Clear Fix
   ========================== */

.cf:before,
.cf:after {
  display: table;
  content: " ";
}

.cf:after { clear: both; }
.cf { *zoom: 1; }

/*for all*/
body {
  box-sizing: border-box;
  font-family: sans-serif;
}

a { 
  display: inline-block;
  text-decoration: none; 
}

li {
  display: inline-block;
  list-style-type: none;
}

/*for wrapper*/
.wrapper {
  max-width: 1010px;
  width: 86%; 
  margin: 0 auto;
}

/* Css Reset  */
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}

:root {
  --primary-color: #283EAA;
  --secondary-color: #3B6BE2;
  --ternary-color: #000;
  --btn-color: #49A2FB;
  --secondary-btn-color: #43A0DF;
  --font-color: #fff;
}

/* Common Classes */
.upper-case { text-transform: uppercase; }

/*=================================
  Header styling starts here
=================================*/
header {
  padding: 47px 0;
  background-color: var(--primary-color);
}

header .wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.main-heading { margin: 0 0 10px 4px; }
.main-heading a{ text-indent: -999999px; }

.main-heading img {
  width: 220px;
  float: right;
  clear: both;
  text-indent: 0;
}

nav { flex-basis: 100%; }
.navigation { float: right; }
.nav-list { margin: 0 11px; }

.navigation li a {
  color: var(--font-color);
  font-weight: 900;
  font-size: 17px;
  letter-spacing: .6px;
}

.navigation li a:hover {color: var(--btn-color); }
.search { margin: 0 5px 0 36px; }
#search { display: none; }
.search a img { width: 28px; }

/* hamburger Styling */
.hamburger {
  display: none;
  z-index: 2;
  cursor: pointer;
  text-indent: -999999px;
}

.line {
  width: 50px;
  height: 3px;
  border-radius: 15%;
  margin: 7px 0;
  display: block;
  background-color: #fff;
  transition: .5s;
}

.line3 { width: 40px; }
.hamburger.active .line { background-color: #fff; }

.hamburger.active .line1 {
  width: 40px;
  transform: translateY(10px) rotate(40deg);
 }

.hamburger.active .line2 { transform: scale(0); }

.hamburger.active .line3 { transform: translateY(-10px) rotate(-40deg); }
/*=================================
  Header styling ends here
=================================*/

/*=================================
  main styling starts here
=================================*/

  /* filter styling starts here */
  .filter { padding: 50px 0; }

  .filter .wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .filter-heading {
    font-size: 34px;
    font-weight: 900;
  }

  .filter-icon { position: relative; }
  .filter-icon > a { text-indent: -999999px; }

  .filter-icon > a img {
    width: 45px;
    float: right;
    text-indent: 0;
    clear: both;
  }

  .filter-list {
    width: 190px;
    padding: 20px;
    border-radius: 10px;
    position: absolute;
    top: 132%;
    left: -50%;
    background-color: var(--btn-color);
    opacity: 0;
    transition: .5s;
    transform: translate(-28%, 20px);
    visibility: hidden;
  }

  .filter-icon:hover .filter-list{
    opacity: 1;
    transform: translate(-28%, 0);
    visibility: visible;
  }

  .filter-list::before {
    content: "";
    width: 20px;
    height: 20px;
    background-color: var(--btn-color);
    position: absolute;
    top: -10px;
    left: 50%;
    transform: translateX(-30%) rotate(45deg);
  }

  .filter-list-heading {
    margin-bottom: 17px;
    display: inline-block;
    color: var(--font-color);
    font-size: 13px;
    font-weight: 600;
  }

  .filter-btn {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .filter-btn li a {
    padding: 3px;
    border: 2px solid transparent;
    text-indent: -999999px;
    transition: .3s;
  }

  .filter-btn li a.active,
  .filter-btn li a:hover {
    border-color: var(--font-color);
  }

  .filter-btn li a img {
    width: 35px;
    float: right;
    clear: both;
    text-indent: 0px;
  }
  /* filter styling ends here */
/*=================================
  main styling ends here
=================================*/